<h1 class="page-header">{{ @label}}</h1>


<div class="row">


<div class="col col-lg-12">

<table class="table table-hover">
    <thead>
    <tr>
        <th></th>
		<th></th>
        <th>Link</th>
        <th>Url</th>
		<th>Description</th>
		<th>Tags</th>
		<th scope="col" class="editdel">Action</th>
	
    </tr>
    </thead>
	<tbody>
    <repeat group="{{ @items }}" value="{{ @item }}" counter="{{ @ctr }}">
	<check if="{{ @ctr }}">
	<true>
	<tr>
		<td><a href="{{ htmlspecialchars(trim(@item.url)) }}"></td>
		<td><img src="{{ @BASE.'/ui/img/favicon.png' }}" class="favi" alt="" /></a></td>
		<td><a href="{{ htmlspecialchars(trim(@item.url)) }}" class="gridh">{{  trim(@item.title) }}</a></td>
		
		<td>
		<check if="{{  trim(@item.url)!='' }}">	
			<div class="urlitem"><a href="{{ htmlspecialchars(trim(@item.url)) }}">{{  trim(@item.url)  }}</a> <a href="{{ htmlspecialchars(trim(@item.url)) }}" target="_blank" class="external-link"><i class="fa fa-link"></i></a></div>
		</check>		
		</td>
	
		<td>
		<check if="{{  trim(@item.note)!='' }}">			
			<div class="dscitem">{{  trim(@item.note)  }}</div>
		</check>				
		</td>

		
		<td>
		<check if="{{  isset( @tgsarray[@item.tok] ) }}">
			<div class="taggrid">
					<repeat group="{{ @tgsarray[@item.tok] }}" value="{{ @t }}">
						<a href="{{ @BASE.'/t/'. @t.tok .'/'. @t.url }}" class="label label-tag">{{ @t.label }}</a>
					</repeat>
			</div>
		</check>
		</td>
		

		<td><a href="{{ @BASE.'/i/update/'. @item.tok }}" class="btn btn-xs btn-warning"><i class="fa fa-edit fa-fw"></i></a>
		<a class="btn btn-xs btn-danger" id="itemtok_{{ @item.tok }}"><i class="fa fa-times fa-fw"></i></a></td>

 	</tr> 
	</true>
	</check> 
    </repeat>
	</tbody>
</table>
	

</div>
</div>
 
 
